.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


#app .flex-grow-1 {
  flex: 1 0 auto;
}


footer {
  text-align: center;
  padding: 30px;
  background: #111;
  color: white;
  margin-top: 40px;
  flex-shrink: 0;
}

